@charset "utf-8";
@use "../function/index" as *;
@use "editor" as editor;

// ------------ 記事一覧 ------------*/

// メイン LAYOUT
div.edit {

}

// サイドバー LAYOUT
.article-aside {

	@include mq() {
		padding-top: 10px;
	}

	// タイトル
	h3 {
		margin: 0 auto 5px auto;
		font-weight: bold;
		@extend .font_size_16;
	}


}
.article-aside-block {
	padding: 30px 0;
	border-bottom: $border-color 2px solid;

	@include mq(sp) {
		padding: 20px 0;
	}

	&:first-child {
		padding: 0 0 30px 0;

		@include mq(sp) {
			padding: 0 0 20px 0;
		}
	}

	&:last-child {
		border-bottom: none;
	}

}
// タイトル
.article-aside-ttl {
	margin: 0 auto 10px auto;
	font-weight: bold;
	@extend .font_size_18;
}
// 最近の投稿
ul.article-entry {

	li {
		padding: 0 0 10px 0;

		&:last-child {
			padding: 0;
		}

		.image_box {
			width: 100%;
			height: auto;
			position: relative;

			&::before{
				content: '';
				display: block;
				padding-top: 66.67%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 1;
			}
		}

		dl {
			// clearfix
			@extend %clearfix;

			dt {
				width: 30%;
				float: left;

				@include mq() {
					width: 20%;
				}

				img {
					border-radius: 3px;
				}
			}

			dd {
				width: 70%;
				padding: 0 0 0 5%;
				float: left;

				@include mq() {
					width: 80%;
				}
			}
		}
	}

	// タイトルは1行、抜粋は2行のみ表示。文末3点リーダー
	// 表示したい行数とline-height値（emまたはpxの単位あり）を要設定
	&.textend_dots {
		h2, h3 {
			@include textend-dots(1, $base-line-height);
		}
		p {
			@include textend-dots(2, $base-line-height);

		}
	}

	// タイトルは1行、抜粋は2行のみ表示。文末はグラデーションで非表示
	// 表示したい行数とline-height値（emまたはpxの単位あり）を要設定
	&.textend_grad {
		h2, h3 {
			@include textend-grad(1, $base-line-height);
		}
		p {
			@include textend-grad(2, $base-line-height);
		}
	}
}
// アーカイブ
select.article-archive {
	width: 100%;
}



// 記事のヘッダー
div.article-head {

	// サムネイル
	div.thum {
		width: 100%;
		height: auto;
		margin: 0 auto 50px auto;
		overflow: hidden;
		position: relative;
		border-radius: 5px;

		&::before{
			content: '';
			display: block;
			padding-top: 66.67%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}

		// NEW ICON
		div.pop {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #C94447;
			color: #FFF;
			padding: 3% 4%;
			border-radius: 0 0 10px 0;
			letter-spacing: 1px;
			font-weight: bold;
			@extend .font_size_16;
		}

		@include mq(sp) {
			margin: 0 auto 20px auto;
		}
	}

	// タイトル
	h1, h2 {
		margin: 0 auto 10px auto;
		font-weight: bold;
		@extend .font_size_30;

		@include mq(sp) {
			margin: 0 auto;
		}
	}

}

// 日時・カテゴリ
ul.article-info {
	li {
		display: inline-block;
		font-size: 0;

		&.article-day {
			font-weight: 700;
			@extend .font_size_16;
			& + li {
				margin-left: 10px;
			}
		}
	}
}
// カテゴリ一覧
ul.article-cgy {
	font-size: 0;

	li {
		margin-right: 5px;
		margin-bottom: 5px;
		display: inline-block;
		a, span {
			@extend .font_size_14;
			background-color: $sub-color;
			padding: 3px 10px;
			border-radius: 5px;
			color: #fff;
			background: $sub-color;
			font-weight: 700;
		}
		a {
			@include link-color(#fff);
			&:hover {
				opacity: 0.8;
				text-decoration: none;
			}
		}

	}
}
// カテゴリー一覧（リスト型）
ul.article-cgy_list {
	a {

	}
}

// 投稿一覧（リスト型）
.article-list {
	margin-bottom: 40px;

	// タイトルの末尾3点リーダー
	&.textend_dots {
		h2, h3 {
			@include textend-dots(1, $base-line-height);

		}
	}

	// タイトルの末尾をグラデーションで非表示にする
	&.textend_grad {
		h2, h3 {
			a {
				@include textend-grad(1, $base-line-height);
			}

		}
	}
}
.article-list-item {
	padding: 20px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $border-color;
	@include mq() {
		flex-wrap: wrap;
	}
}
.article-list-item-cat {
	width: 130px;
	padding: 0 10px 0 0;
	display: block;

	a, span {
		min-width: 100px;
		display: block;
		text-align: center;
		border: $main-color 2px solid;
		color: $main-color;
		padding: 3px 5%;
		margin: auto ;
		@extend .font_size_12;

	}

	a {
		@include link-color($main-color);

		&:hover {
			text-decoration: none;
			background-color: $main-color;
			color: #fff;
		}
	}

	@include mq() {
		width: auto;
		// padding: 0 10px 10px 0;
	}
}
.article-list-item-date {
	width: 130px;
	padding: 0 10px 0 0;
	@extend .font_size_14;

	@include mq() {
		width: auto;
		// padding: 0 10px 10px 0;
	}
}
.article-list-item-ttl {
	width: calc(100% - 260px);
	padding-right: 20px;
	background-image: url(../img/arrow/arrow_right_c.svg);
	background-size: 20px 20px;
	background-position: right center;
	font-weight: 700;
	a {
		padding: 2px 0;
	}
	@include mq() {
		width: 100%;
		margin-top: 10px;
	}
}

// 投稿一覧（3列）
.article-list_grid {
	width: 80%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5%;
	margin: auto;
	@include mq() {
		width:100%;
		display: block;
	}
}

.article-list_grid-item {
	width: 100%;
	margin-bottom: 20px;
	
	
	@include mq(sp) {
		width: 50%;
		padding: 0 5px;
	}
	@include mq(ssp) {
		width: 100%;
	}
	
	p {
		position: relative;
		font-weight: 150%;
		font-size: 150%;
		top:30%;
		padding-left: 20%;
	}
	
}
.article-list_grid-item-bg_box {
	img {
		top: 0;
		left: 0;
		height: 100%;
		margin: auto;
		width: 100%;
	}
}
.article-list_grid-item-thum {
	position: relative;
	margin-bottom: 10%;
	&::before{
		content: '';
		display: block;
		padding-top: 20%;
	}
	
	

	// .pop {

	// 	z-index: 2;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	background-color: #C94447;
	// 	color: #FFF;
	// 	padding: 0.5em 0.7em;
	// 	border-radius: 0 0 10px 0;
	// 	letter-spacing: 1px;
	// 	font-weight: 700;
	// 	font-size: 12px;
	// }
}
.article-list_grid-item-text_cont {
	h1{
		font-weight: 1000;
		padding: 5%;
	}
	font-size: 160%;
	padding: 15px 15px 20px;
	justify-content: center;
}
.article-list_grid-item-ttl{
	font-weight: 700;
	@extend .font_size_16;
	// タイトルは2行のみ表示。文末に3点リーダーを挿入。
	// 表示したい行数とline-height値（emまたはpxの単位あり）を要設定
	@include textend-dots(2, $base-line-height);
}
ul.article-list_grid-item-info {
	li.article-day {
		width: 100%;
		@extend .font_size_14;
		font-weight: 400;
		& + li {
			margin-left: 0;
		}
	}
	ul.article-cgy {
		li {
			a, span {
				@extend .font_size_12;
				background-size: 10px auto;
				padding: 2px 10px;
			}
		}
	}
}
.article-list_grid-item-text {
	// 本文は3行のみ表示。文末に3点リーダーを挿入。
	// 表示したい行数とline-height値（emまたはpxの単位あり）を要設定
	@include textend-dots(3, $base-line-height);
	@extend .font_size_14;
	padding: 0;
}

// タグ一覧
.article-tag {

	li {
		display: inline-block;
		margin: 0 5px 10px 0;

		a {
			width: 100%;
			height: 100%;
			display: block;
			border-radius: 5px;
			background: $main-color;
			padding: 5px;

			// リンク設定
			&:link,
			&:visited,
			&:active {
				color: #FFF;
				background-color: $main-color;
				@extend .font_size_12;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

// 記事のナビゲート
div.article-nav {
	width: 100%;
	height: auto;
	padding: 10px 0;
}

// 前後の記事
ul.article-transfer {
	width: 100%;
	max-width: 500px;
	margin: auto;
	display: table;
	table-layout: fixed;
	text-align: center;
	padding: 30px 0;

	li {
		display: table-cell;
		vertical-align: middle;
		padding: 5px 0;
		font-weight: bold;
		color: $border-color;
		@extend .font_size_14;

		& + li {
			border-left: $border-color 1px solid;
		}

		a {
			background-repeat: no-repeat;
			background-size: 20px 20px;
			padding: 5px 25px;

			@include mq(sp) {
				padding: 5px 15px;
			}
		}

		&:first-child {

			a {
				background-image: url(../img/arrow/arrow_left_c.svg);
				background-position: left center;
				padding: 5px 5px 5px 45px;

				@include mq(sp) {
					background-image: none;
					padding: 5px 15px;
				}
			}
		}

		&:last-child {

			a {
				background-image: url(../img/arrow/arrow_right_c.svg);
				background-position: right center;
				padding: 5px 45px 5px 5px;

				@include mq(sp) {
					background-image: none;
					padding: 5px 15px;
				}
			}
		}
	}
}


// SNSシェアボタン
.share_box {
	text-align: center;
	.share_bg_box {
		display: inline-block;
		width: auto;
		background-color: $bg-color;
		padding: 20px 60px;
		border-radius: 50px;
	}
	.list_sns_share {
		display: flex;
		justify-content: center;
		align-items: center;
		li + li {
			margin-left: 20px;
		}
		li:first-of-type {
			margin-right: 15px;
		}
		p {
			color: $main-color;
			@extend .font_size_20;
			letter-spacing: 0.05em;
			font-weight: bold;
		}
		a {
			display: block;
		}
	}
	@include mq() {
		.share_bg_box {
			padding: 20px 40px;
		}
		.list_sns_share {
			li + li {
				margin-left: 25px;
			}
			li:first-of-type {
				margin-right: 10px;
			}
		}
	}
	@include mq(sp) {
		.share_bg_box {
			display: block;
			padding: 15px;
		}
		.icon_twitter {
			width: 25px;
		}
		.icon_facebook, .icon_line {
			width: 27px;
		}
	}
	@include mq(ssp) {
		.list_sns_share {
			li + li {
				margin-left: 15px;
			}
			li:first-of-type {
				margin-right: 10px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}



// Pager
.article-pager {
	text-align: center;
	padding: 0 0 80px;

	@include mq() {
		padding-bottom: 50px;
	}

	li {
		width: 30px;
		display: inline-block;
		letter-spacing: normal;
		vertical-align: middle;

		// active
		color: $main-color;
		font-weight: bold;
		@extend .font_size_18;

		a {
			display: block;
			width: 100%;
			height: 100%;

			@include mq(sp) {
				padding: 5px;
			}

			&.prev,
			&.next,
			&.first,
			&.end {
				height: 30px;
				background-repeat: no-repeat;
				background-size: auto 20px;
				background-position: center center;
			}

			&.prev {
				background-image: url(../img/article/arrow_left.svg);
			}

			&.next {
				background-image: url(../img/article/arrow_right.svg);
			}

			&.first {
				background-image: url(../img/article/arrow_first.svg);
			}

			&.end {
				background-image: url(../img/article/arrow_end.svg);
			}
		}
	}
}


// ------------ 記事 ------------*/

// エディターエリア
div.editor {
	padding: 50px 0 0 0;
	@extend .font_size_16;

	@include mq(sp) {
		padding: 20px 0 0 0;
	}

	// clearfix
	@extend %clearfix;

	// _editor.scssで定義したミックスインeditor()で
	// Gutenbergで登録した本文にあてるスタイルを呼び出す
	@include editor.editor();

}



//ページ送り
.page-links {
	font-weight: bold;
	text-align: center;
	@include mq() {
		text-align: center;
	}

	.post-page-numbers {
		background-color: #fff;
		font-size: 18px;
		padding: 5px 12px;
		text-decoration: none!important;
		border: 2px solid $main-color;
		margin: 0 3px;

		&:hover {
			background-color: $sub-color;
			border: 2px solid $sub-color;
			color: #fff!important;

		}
		&.current {
			background-color: $main-color;
			border: 2px solid $main-color;
			color: #fff!important;
		}
	}
}
