@charset "utf-8";
@use "../function/index" as *;

// ------------ COMMON HEADER ------------

header {
	width: 100%;
}

.header-inner {
	width: inherit;
	height: 120px;
	margin: auto;

	@include mq_up(ssp){
		height: 100px;
	}

}

// Logo
.header-logo {
	padding-left: 5%;
	@extend .vertical;
	a {
		display: block;

		img {
			
			@include mq_up(sp){
				width: 1%;
				
			}
		}
	}
}

// CV
.header-cv {
	position: absolute;
	height: inherit;
	text-align: center;
	display: block;
	display: flex;	

	@include abs-position(0px, 0px, auto, auto);

	@include mq_up(sssp){
		width: 50%;
		img {
			width: 25%;
		}
	}
	@include mq(sp){
		width: 35%;
		right: 60px;
		img {
			width: 25%;
		}
	}

	@include mq_up(tb){
		width: 20%;
		right: 10%;
		img {
			width: 25%;
		}
	}
	@include mq_up(pc) {
		padding-left: 15%;
		width: 30%;
		img {
			width: 25%;
		}
	} 

	img {
		display: flex;
		margin: auto;
		margin-top: 5%;
		margin-bottom: -10%;
	}
	.doc{
		width: 100%;
		display: block;
		background-color: $sub-color;
		a {
			margin: auto 10px;
			@include link-color(#FFF);
			font-weight: bold;
			font-size: 80%;
			margin-bottom: 12%;
		}
		&:hover {
			opacity: 1;
		}
	}
		
	.contact {
		width: 100%;
		display: block;
		background-color: $main-color;
		text-align: center;
		a {
			margin: auto 10px;
			@include link-color(#FFF);
			font-weight: bold;
			font-size: 80%;
			margin-bottom: 12%;
		}
		&:hover {
			background-color: $hoover-color;
		}
	
	}
}

// ------------　スクロール後FIXED設定 ------------

header.fixed {
	background: rgba(255,255,255,.7);
	position: fixed;
	z-index: 100;
}
