@charset "utf-8";
@use "../function/index" as *;

// ------------ COMMON HEADER ------------

header {
	width: 100%;
}

.header-inner {
	height: 100px;
	margin: auto;
	position: relative;

	@include mq() {
		min-width: inherit;
		height: 55px;
	}
}

// Logo
.header-logo {
	@extend .vertical;
	
	a {
		display: block;

		img {
			width: 100%;
			margin: 5%;
		}
	}
}

// CV
.header-cv {
	padding-left: 20%;
	height: inherit;
	width: 23%;
	height: 100%;
	position: absolute;
	display: flex;	
	
	.doc{
		width: 100%;
		display: block;
		background-color: $sub-color;
		a {
			margin: auto 10px;
			@include link-color(#FFF);
			font-weight: bold;
			font-size: medium;
			margin-bottom: 12%;
			display: flex;
		}
		img {
			display: flex;
			width: 25%;
			margin-top: 10%;
			margin-bottom: -10%;
		}
		&:hover {
			opacity: 1;
		}
	}
		
	.contact {
		width: 100%;
		display: block;
		background-color: $main-color;
		text-align: center;
		a {
			margin: auto 10px;
			@include link-color(#FFF);
			font-weight: bold;
			font-size: medium;
			margin-bottom: 12%;
		}
		img {
			display: flex;
			width: 25%;
			margin-top: 10%;
			margin-bottom: -10%;
		}
		&:hover {
			background-color: $hoover-color;
		}
	
	}
	// @include mq_up() {
	// 	width: 50%;
	// }

	@include abs-position(0px, 0px, auto, auto);

	img {
		margin: auto;
	}	
}

// ------------　スクロール後FIXED設定 ------------

header.fixed {
	background: rgba(255,255,255,.7);
	position: fixed;
	z-index: 100;
}