@charset "utf-8";
@use "../function/index" as *;

// ------------ FRONT ------------

// トップページ
div.front {



}

.with_caption{
	position: relative;	
	.caption {
		// position: absolute;
		transform:  translate(-50%);
		z-index: 9;
		width: 100%;
		max-width: 1080PX;
		@include abs-position(50%,auto,auto,50%)
		
	}
	h1.capton {
		display: flex;
	}	

}

.top_view {
	margin-bottom: 1%;
	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;

	@include mq_up(sssp){
		background-image: url('/assets/img/front/banner_mq.png');
		height: 700px;
		margin-bottom: 10%;
	}
	@include mq(sp){
		background-image: url('/assets/img/front/banner_mq.png');
		height: 330px;
		margin-bottom: 10%;
	}

	@include mq_up(tb){
		background-image: url('/assets/img/front/banner_mq.png');
		height: 900px;
		float: left;
	}
	@include mq_up(pc) {
			background-image: url('/assets/img/front/banner.png');
			height: 800px;
	}
	#change_img {
		position: absolute;	
		display: inline-block;
		
		@include mq(tb){
			padding-top: 12%;
			padding-left: 6%;
			width: 100%;	
			.clicked {
				font-size: 80%;
				font-weight: 500;
				background-color: white;
				color:  $main-color;
				padding: 5px 3%;
			}
			.not_clicked {
				font-size: 80%;
				font-weight: 700;
				background-color: #47A070;
				border: white 2px solid;
				color:  white;
				padding: 3px 3%;
			}

		}
		@include mq_up(ssp){
			padding-top: 12%;
			padding-left: 6%;
			width: 100%;	
			.clicked {
				font-size: 150%;
				font-weight: 500;
				background-color: white;
				color:  $main-color;
				padding: 5px 3%;
			}
			.not_clicked {
				font-size: 150%;
				font-weight: 700;
				background-color: #47A070;
				border: white 2px solid;
				color:  white;
				padding: 3px 3%;
			}
		}
		@include mq_up(pc) {
			padding-top: 5%;
			padding-left: 6%;
			width: 100%;	
			
			.clicked {
				font-size: 200%;
				font-weight: 500;
				background-color: white;
				color:  $main-color;
				padding: 5px 3%;
			}
			.not_clicked {
				font-size: 200%;
				font-weight: 700;
				background-color: #47A070;
				border: white 2px solid;
				color:  white;
				padding: 3px 3%;
			}
		}
		
	}
	
	.block {
		img {
			width: 100%;
		}
	}
#banner2{
	background-image: url('/assets/img/front/banner2.png');
}
.promo {
	background-image: url('/assets/img/front/promo.png');

}
	// 画像をPC/SPで変更する場合
	// .slick-slide img {
	// 	&.hide_sp {
	// 		@extend .hide_sp;
	// 	}
	// 	&.hide_pc {
	// 		@extend .hide_pc;
	// 	}
	// }

	// 前・次ボタンの設定
	// .slick-prev,
	// .slick-next {
	// 	width: 5%;
	// 	height: 100%;
	// 	position: absolute;
	// 	background-position: center center;
	// 	background-repeat: no-repeat;
	// 	background-size: 30px 30px;

	// 	@include mq() {
	// 		width: 10%;
	// 	}
	// }

	// .slick-prev:before,
	// .slick-next:before {
	// 	content:"";
	// }

	// 前ボタンの設定
	// .slick-prev {
	// 	left: 0;
	// 	background-image:url(../img/arrow/arrow_left_w.svg);
	// }

	// 次ボタンの設定
	// .slick-next {
	// 	right: 0;
	// 	background-image:url(../img/arrow/arrow_right_w.svg);
	// }

	// .slick-arrow {
	// 	z-index: 10;
	// }

	// docボタンの設定
	// .slick-dots {
	// 	bottom: 10px;

	// 	li {
	// 		width: 10px;
	// 		height: 10px;
	// 		button {
	// 			width: 10px;
	// 			height: 10px;
	// 			padding: 0;
	// 			border-radius: 50%;
	// 			background-color: $bg-color;
	// 			@extend .transitions;

	// 			&:hover {
	// 				background-color: $main-color;
	// 			}
	// 			&:before {
	// 				display: none;
	// 			}
	// 		}

	// 		&.slick-active {
	// 			button {
	// 				background-color: $main-color;
	// 			}
	// 		}
	// 	}
	// }

}
