@charset "utf-8";
@use "../function/index" as *;

// ------------ FRONT ------------

// トップページ
// div.front {



// }


div.top_view {
	width: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	text-align: center;
	@include mq(sp){
		background-image: url('/assets/img/front/banner_mq.png');
		height: 300px;
		padding-top: 7%;
		padding-left: 6%;
		p {
			padding: 5px;
			font-size: 80%;
			font-weight: bold;
		}
	}
	@include mq_up(sp){
		background-image: url('/assets/img/front/banner_mq.png');
		height: 500px;
		padding-top: 10%;
		padding-left: 6%;
		p {
			padding: 10px;
			font-size: 140%;
			font-weight: bold;
		}
	}
	
	@include mq_up(tb){
		background-image: url('/assets/img/front/banner.png');
		padding-top: 7%;
		padding-left: 6%;
		height: 620px;
		p {
			padding: 30px;
			font-size: 200%;
			font-weight: bold;
		}
	}
	@include mq_up(pc) {
		background-image: url('/assets/img/front/banner.png');
		height: 810px;
		padding-top: 8%;
		padding-left: 6%;
		p {
			padding: 30px;
			font-size: 300%;
			font-weight: bold;
		}
	}
	
	#change_img {
		position: absolute;	
		display: flex;
		
		.clicked {			
			background-color: white;
			color:  $main-color;
		}
		.not_clicked {
			background-color: #47A070;
			border: white 2px solid;
			color:  white;
		}
		
	}
}

#banner2{
	background-image: url('/assets/img/front/banner2.png');
	// @include mq(sp) {
    //     height: 300px;
    // }
    // @include mq_up(sp){
    //     height: 500px;
    // }
    // @include mq_up(tb){
    //     height: 800px;
    // }
    // @include mq_up(pc) {
    //     height: 600px;
    // }
}
.promo {
	background-image: url('/assets/img/front/promo.png');
	font-weight: bold;
	p {
		margin-top: -40%;
		position: absolute;
		left: 55%;
		color: white;
		text-align: center;
		width: 50%;
		padding-right: 20%;
		display: flex;
	}
	button {
		left: 60%;
		position: absolute;
		border: $main-color 2px solid ;
		border-radius: 100px;
		background-color: white; 
		color: $main-color;
		padding: 2%;
		font-weight: bold;
	}
	img {
		padding-left: 8%;
		padding-top: 8%;
		padding-bottom: 5%;
		width: 50%;
	}
	@include mq(sssp){
		p {
			padding-top: 2%;
			padding-left: 6%;
			font-size: 35%;
		}
		button {
			font-size: 35%;
			margin-top: -16%;
		}
	}
	@include mq_up(sssp){
		p {
			padding-top: 8%;
			padding-left: 6%;
			font-size: 80%;
		}
		button {
			font-size: 70%;
			margin-top: -16%;
		}
	}
	@include mq_up(sp){
		p {
			padding-top: 12%;
			padding-left: 6%;
			font-size: 120%;
		}
		button {
			font-size: 100%;
			margin-top: -16%;
		}
	}
	@include mq_up(tb){
		p {
			padding-top: 12%;
			padding-left: 5%;
			font-size: 170%;
		}
		button {
			font-size: 120%;
			margin-top: -16%;
		}
	}
}

table {
	// border-collapse: collapse;
	width: 90%;
	table-layout: fixed;
	margin: auto;
	padding:auto;
	font-weight: bold;
	border-collapse: collapse;
	img {
		width: 100%;
	}
}

td {
	height: 100%; /* Adjust the height as needed */
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
}
th {
	height:auto;
}

td:first-child {
	background-color: $main-color;
	color: white;
	img {
		height: 110%;
	}
}
th:nth-child(2) {
	border-top: 5px solid $main-color;
	border-right: 5px solid $main-color;
	border-left: 5px solid $main-color;
	background-color: #E0EDE0 !important; 
	color: $main-color;
}
td:nth-child(2) {
	border-right: 5px solid $main-color;
	border-left: 5px solid $main-color;
}

th:not(:first-child), td:not(:first-child) {
	background-color: white;
}

#after_table1 {
	img {
		margin-top: 10%;
	}
}

#choice {
	display: flex;
	align-items: center;
	width: 60%; /* Adjust the width as needed */
	padding: 10px;
	margin: 5% auto;
	background-color: #F2F2F2;
	
	img {
		width: 50%; /* Adjust the image width as needed */
  		margin: 5%;
	}
	button {
		background-color: #ddd;
		font-size: 70%;
		margin: 2% 0;
	}
	h1 {
		color: $main-color;
		font-weight: bold;
		margin: 2% 0;
	}
	p {
		padding-right: 5%;
	}
	@include mq(sp){
		button {
			font-size: 50%;
		}
		h1 {
			font-size: 50%;
		}
		p {
			font-size: 50%;
		}
	}
}

.wrapper {
    display: grid;
    grid-template-columns: [col1-start] 33.33%  [col2-start] 33.33%  [col3-start] 33.33% [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row4-start] auto [row5-start] auto [row6-start] auto [row7-start] auto [row8-start] auto [row9-start] auto [row10-start] auto [row11start] auto [row12-start] auto  [row12-end];
    color: #444;
	width: 70%;
	margin: 5% auto;
  }

  .tab {
    background-color: fff;
    color: black;
    padding: 10%;
    font-size: 100%;
    text-align: center;
	border: 1px #E2E2E2 solid;
  }

  #a {
    grid-column: col2-start;
    grid-row: row1-start;
	background-color: #F2F2F2;
	font-weight: bold;
  }
  #b {
    grid-column: col3-start ;
    grid-row: row1-start;
	background-color: #F2F2F2;
	font-weight: bold;
  }
  #c {
	display:flex;
  	align-items:center;
	color: white;
	background-color: $main-color;
	font-weight: bold;
  }
  #d {
    grid-column: col1-start;
    grid-row: row3-start / row6-start ;
    display:flex;
  	align-items:center;
	color: $main-color;
	background-color: $sub-color;
	font-weight: bold;
  }
  #e {
    grid-column: col1-start ;
    grid-row: row6-start / row13-start;
	display:flex;
  	align-items:center;
	color: $main-color;
	background-color: $sub-color;
	font-weight: bold;
  }
  #f {
	color: $main-color !important;
	font-weight: bold;
	display:flex;
  	align-items:center;
	font-size: larger;
  }
  .bold {
	font-weight: bold;
  }
  
  .layers {
    display: block;
    h1 {
        font-size: 80px;
        color: $main-color;
        padding-top: 1%;
        margin-bottom: 10%;
    }
    h2 {
        font-weight: bold;
        font-size: 36px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    p {
        font-size: 16px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
.odd_layer {
    display: block;
	width: 100%;
	margin-top: 10%;
	padding-right: 20% ;
	padding-left: 10%;
	padding-bottom: 20%;
	left: 0;
	background-image: url('/assets/img/common/botton_layer.png');
	background-size: cover;
	position: relative;
	.odd_cap {
		width: 50%;
	}
}
#layer1 {
		// margin: 5% 0; 
		width: 50%;
		position: absolute;
		right: 1%;
	}
	#layer3 {
		margin: 5% 0; 
		width: 90%;
	}

.even_layer {
	text-align: left;
    width: 100%;
	position:relative;
    // display: block;
    margin-top: 10%;
	// padding-left: 55%;
	// margin-left: 20%;
	margin-bottom: 20%;
	background-image: url('/assets/img/common/botton_layer.png');
	background-size: cover;
	background-position: left;
	.even_cap {
		width: 50%;
	}
}

#layer2 {
	background-image: url('/assets/img/common/layer_2.png');
	background-size: cover;
	background-position: left;
	margin: 5% 0 0 10%; 
	width: 90%;
}
#layer4 {
	background-image: url('/assets/img/common/layer_4.png');
	background-size: cover;
	background-position: left;
	margin: 5% 0 0 10%; 
	width: 90%;
}


	// 画像をPC/SPで変更する場合
	// .slick-slide img {
	// 	&.hide_sp {
	// 		@extend .hide_sp;
	// 	}
	// 	&.hide_pc {
	// 		@extend .hide_pc;
	// 	}
	// }

	// 前・次ボタンの設定
	// .slick-prev,
	// .slick-next {
	// 	width: 5%;
	// 	height: 100%;
	// 	position: absolute;
	// 	background-position: center center;
	// 	background-repeat: no-repeat;
	// 	background-size: 30px 30px;

	// 	@include mq() {
	// 		width: 10%;
	// 	}
	// }

	// .slick-prev:before,
	// .slick-next:before {
	// 	content:"";
	// }

	// 前ボタンの設定
	// .slick-prev {
	// 	left: 0;
	// 	background-image:url(../img/arrow/arrow_left_w.svg);
	// }

	// 次ボタンの設定
	// .slick-next {
	// 	right: 0;
	// 	background-image:url(../img/arrow/arrow_right_w.svg);
	// }

	// .slick-arrow {
	// 	z-index: 10;
	// }

	// docボタンの設定
	// .slick-dots {
	// 	bottom: 10px;

	// 	li {
	// 		width: 10px;
	// 		height: 10px;
	// 		button {
	// 			width: 10px;
	// 			height: 10px;
	// 			padding: 0;
	// 			border-radius: 50%;
	// 			background-color: $bg-color;
	// 			@extend .transitions;

	// 			&:hover {
	// 				background-color: $main-color;
	// 			}
	// 			&:before {
	// 				display: none;
	// 			}
	// 		}

	// 		&.slick-active {
	// 			button {
	// 				background-color: $main-color;
	// 			}
	// 		}
	// 	}
	// }

